<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Buscar Usuario</h1>
    </header>
    <main>
        <form action="{{ url_for('vista_usuario.buscar_usuario') }}" method="post">
            <input type="text" name="cedula" placeholder="Ingrese la cédula del usuario" required>
            <input type="submit" value="Buscar">
        </form>
    </main>
</body>
</html>
