<!DOCTYPE html>
<html>
<head>
    <title>Información del Usuario</title>
</head>
<body>
    <h1>Información del Usuario de Pensión</h1>
    <p>{{ mensaje }}</p>
    <div>
        <strong>Cédula:</strong> {{ user.cedula }}
    </div>
    <div>
        <strong>Edad:</strong> {{ user.edad }}
    </div>
    <div>
        <strong>Sexo:</strong> {{ user.sexo }}
    </div>
    <div>
        <strong>Estado Civil:</strong> {{ user.estado_civil }}
    </div>
    <div>
        <strong>Salario Actual:</strong> {{ user.salario_actual }}
    </div>
    <div>
        <strong>Semanas Laboradas:</strong> {{ user.semanas_laboradas }}
    </div>
    <div>
        <strong>Ahorro Pensional a Hoy:</strong> {{ user.ahorro_pensional_a_hoy }}
    </div>
    <div>
        <strong>Rentabilidad Promedio:</strong> {{ user.rentabilidad_promedio }}
    </div>
    <div>
        <strong>Tasa de Administración:</strong> {{ user.tasa_administracion }}
    </div>
    <div>
        <strong>Edad Pensión Total:</strong> {{ user.edad_pension_total }}
    </div>
    <div>
        <strong>Hereda Pensión:</strong> {{ user.hereda_pension }}
    </div>
</body>
</html>
